{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="main-wrapper">
    {% include '_header.html' %}

    <div class="breadcrumb-bar">
        <!-- ... Your existing code for breadcrumbs ... -->
    </div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- ... Your existing code for the card and date selection ... -->

                    <div class="card booking-schedule schedule-widget">
                        <div class="schedule-header">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="day-slot">
                                        <ul>
                                            <li class="left-arrow">
                                                {% if all_date_exist.has_previous %}
                                                <a href="?page={{ all_date_exist.previous_page_number }}"><i
                                                        class="fa fa-chevron-left"></i></a>
                                                {% endif %}
                                            </li>
                                            {% for date in all_date_exist %}
                                            <li>
                                                <span>{{ date.0|date:"D" }}</span>
                                                <span class="slot-date">{{ date.0|date:"j m Y" }}</span>
                                            </li>
                                            {% endfor %}
                                            <li class="right-arrow">
                                                {% if all_date_exist.has_next %}
                                                <a href="?page={{ all_date_exist.next_page_number }}"><i
                                                        class="fa fa-chevron-right"> </i></a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- time slot TODO -->
                        <div class="schedule-cont">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="time-slot">
                                        <ul class="clearfix">
                                            {% for date in all_date_exist %}
                                            <li>
                                                <div class="date-slot">
                                                    <h2 style="color: red;">{{ date.0|date:"Y-m-d" }}</h2>
                                                    {{ item.timerange }}
                                                    <h6 style="color: chocolate;">{{ date.0|date:"l" }}</h6>



                                                    {% if date.0|date:"l" == "Saturday" %}
                                                    {% for time_slot in all_week_slot_time.0.time_slots %}
                                                    <a class="timing" href="#">
                                                        <span>{{ time_slot.strip }}</span>
                                                    </a>
                                                    {% endfor %}

                                                    {% elif date.0|date:"l" == "Sunday" %}
                                                    {% for time_slot in all_week_slot_time.1.time_slots %}
                                                    <a class="timing" href="#">
                                                        <span>{{ time_slot.strip }}</span>
                                                    </a>
                                                    {% endfor %}

                                                    {% elif date.0|date:"l" == "Monday" %}
                                                    {% for time_slot in all_week_slot_time.1.time_slots %}
                                                    <a class="timing" href="#">
                                                        <span>{{ time_slot.strip }}</span>
                                                    </a>
                                                    {% endfor %}
                                                    {% elif date.0|date:"l" == "Tuesday" %}
                                                    {% for time_slot in all_week_slot_time.3.time_slots %}
                                                    <a class="timing" href="#">
                                                        <span>{{ time_slot.strip }}</span>
                                                    </a>
                                                    {% endfor %}
                                                    {% elif date.0|date:"l" == "Wednesday" %}
                                                    {% for time_slot in all_week_slot_time.4.time_slots %}
                                                    <a class="timing" href="#">
                                                        <span>{{ time_slot.strip }}</span>
                                                    </a>
                                                    {% endfor %}
                                                    {% elif date.0|date:"l" == "Thursday" %}
                                                    {% for time_slot in all_week_slot_time.5.time_slots %}
                                                    <a class="timing" href="#">
                                                        <span>{{ time_slot.strip }}</span>
                                                    </a>
                                                    {% endfor %}
                                                    {% elif date.0|date:"l" == "Friday" %}
                                                    {% for time_slot in all_week_slot_time.6.time_slots %}
                                                    <a class="timing" href="#">
                                                        <span>{{ time_slot.strip }}</span>
                                                    </a>
                                                    {% endfor %}
                                                    {% endif %}

                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>

                    <!-- ... Your existing code for the "Proceed to Pay" button ... -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}" type="text/javascript"></script>
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
<script src="{% static 'cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js' %}" data-cf-settings="|49"
    defer=""></script>
{% endblock content %}