{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="main-wrapper">
    {% include '_header.html' %} <!-- add header -->
    <div>
        <p>Appointment Barber</p>
        <ul>
            {% for item in processed_data %}
            <li>
                <p>Time Range: {{ item.TimeRange }}</p>
                <p>Week Number: {{ item.TimeRange.get_Days_display }}</p>
                <p>Time Slots:</p>
                <ul>
                    {% for slot in item.time_slots %}
                    <li>{{ slot }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% empty %}
            <li>No appointment hours available.</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <p>Date Slots:</p>
        <ul>
            {% for date_entry in date_data %}
            <li>{{ date_entry.1 }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}