{% extends '_base.html' %}
{% load static %}


{% block content %}
<div class="schedule-header">
    <div class="row">
        <div class="col-md-12">
            <div class="day-slot">
                <ul>
                    <li class="left-arrow">
                        <a href="#">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </li>
                    {% for date in current_week_dates %}
                    <li>
                        <span>{{ date|date:"D" }}</span>
                        <span class="slot-date">{{ date|date:"d M" }} <small class="slot-year">{{ date|date:"Y"}}</small></span>
                    </li>
                    {% endfor %}
                    <li class="right-arrow">
                        <a href="#">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}