{% extends '_base.html' %}
{% load static %}

{% block content %}

<div class="main-wrapper">
    {% include 'include/_header.html' %} <!-- add header -->



        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Dashboard</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="container-fluid">
                <div class="row">

                {% include 'include/cus_panel_sidebar.html' %}

                    <div class="col-md-7 col-lg-8 col-xl-9">
                        <div class="card">
                            <div class="card-body pt-0">

                                <nav class="user-tabs mb-4">
                                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#pat_appointments"
                                                data-bs-toggle="tab">Appointments</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#pat_prescriptions"
                                                data-bs-toggle="tab">activate reservation</a>
                                        </li>
                              
                                        <li class="nav-item">
                                            <a class="nav-link" href="#pat_billing" data-bs-toggle="tab">cancelled </a>
                                        </li>
                                    </ul>
                                </nav>


                                <div class="tab-content pt-0">

                                    <div id="pat_appointments" class="tab-pane fade show active">
                                        <div class="card card-table mb-0">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Barber</th>
                                                                <th> Booking Date</th>
                                                                <th>Booking TIme</th>
                                                                <th>Follow Up</th>
                                                                <th>Status</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                                              {% for item in bookings %}

                                                            <tr>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="doctor-profile.html"
                                                                            class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle"
                                                                                src="{{ item.barber.image.url }}"
                                                                                alt="User Image">
                                                                        </a>
                                                                        <a href="doctor-profile.html">{{ item.barber }}
                                                                            </a>
                                                                    </h2>
                                                                </td>
                                                                <td>{{ item.date|date:"Y-m-d" }}</td>
                                                                <td><span class="d-block text-info">{{ item.time|time:"H:i" }}</span></td>
                                                                <td>---</td>
                                                                {% if item.status == False %}
                                                                <td><span class="badge rounded-pill bg-danger-light text-light">cancelled</span>
                                                                </td>
                                                                {% elif item.status == True %}
                                                                        <td><span class="badge rounded-pill bg-success-light">confirm</span>
                                                                        </td>
                                                                {% endif %}
                                                                <td class="text-end">
                                                                    <div class="table-action">
                                                                        <a href="{% url 'pages:list_barber' %}"
                                                                            class="btn btn-sm bg-primary-light">
                                                                             cancel
                                                                        </a>
                                                                        <a href="#"
                                                                            class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="tab-pane fade" id="pat_prescriptions">
                                        <div class="card card-table mb-0">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                    <th>Barber</th>
                                                                    <th> Booking Date</th>
                                                                    <th>Booking TIme</th>
                                                                    <th>Follow Up</th>
                                                                    <th>Status</th>
                                                                    <th></th>
                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            {% for item in active_bookings %}
                                                            
                                                            <tr>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="doctor-profile.html" class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle" src="{{ item.barber.image.url }}" alt="User Image">
                                                                        </a>
                                                                        <a href="doctor-profile.html">{{ item.barber }}
                                                                        </a>
                                                                    </h2>
                                                                </td>
                                                                <td>{{ item.date|date:"Y-m-d" }}</td>
                                                                <td><span class="d-block text-info">{{ item.time|time:"H:i" }}</span></td>
                                                                <td>---</td>
                                                                {% if item.status == False %}
                                                                <td><span class="badge rounded-pill bg-warning text-light">waiting</span>
                                                                </td>
                                                                {% elif item.status == True %}
                                                                <td><span class="badge rounded-pill bg-success-light">confirm</span>
                                                                </td>
                                                                {% endif %}
                                                                <td class="text-end">
                                                                    <div class="table-action">
                                                                        <a href="#" class="btn btn-sm bg-primary-light">
                                                                            cancel
                                                                        </a>
                                                                        <a href="#" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                     
                                                        </tbody>
                                                    
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div id="pat_billing" class="tab-pane fade">
                                        <div class="card card-table mb-0">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                        <th>Barber</th>
                                                                        <th> Booking Date</th>
                                                                        <th>Booking TIme</th>
                                                                        <th>Follow Up</th>
                                                                        <th>Status</th>
                                                                        <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in deactive_bookings %}
                                                            <tr>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="doctor-profile.html" class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle" src="{{ item.barber.image.url }}" alt="User Image">
                                                                        </a>
                                                                        <a href="doctor-profile.html">{{ item.barber }}
                                                                        </a>
                                                                    </h2>
                                                                </td>
                                                                <td>{{ item.date|date:"Y-m-d" }}</td>
                                                                <td><span class="d-block text-info">{{ item.time|time:"H:i" }}</span></td>
                                                                <td>---</td>
                                                                {% if item.status == False %}
                                                                <td><span class="badge rounded-pill bg-danger-light text-light">cancelled</span>
                                                                </td>
                                                               
                                                                {% endif %}
                                                                <td class="text-end">
                                                                    <div class="table-action">
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                            <i class="fas fa-print"></i> cancel
                                                                        </a>
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                    
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock content %}