{% extends '_base.html' %}
{% load static %}


{% block content %}



<div class="main-wrapper">

    {% include 'include/_header.html' %} <!-- add header -->


    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-8 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">list barbers</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">{{ barbers.count }} available barbers</h2>
                </div>
              
            </div>
        </div>
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
            

                <div class="col-12">
                                    {% for barber in barbers %}

                    <div class="card">
                        <div class="card-body">
                            <div class="doctor-widget">
                                <div class="doc-info-left">

                                    <div class="doctor-img">
                                        <a href="doctor-profile.html">
                                            <img src="{{ barber.image.url }}" class="img-fluid"
                                                alt="User Image">
                                        </a>
                                    </div>
                                    <div class="doc-info-cont">
                                        <h4 class="doc-name"><a href="#">{{ barber.user.last_name }}</a></h4>
                                        <p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS
                                        </p>
                                
                                        <div class="clinic-details">
                       
                                    
                                        </div>
                                        <div class="clinic-services">
                                            <span>Dental Fillings</span>
                                            <span> Whitneing</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="doc-info-right">
                                    <div class="clini-infos">
                                        <ul>
                                            <li><i class="fas fa-map-marker-alt"></i> Iran, Tehran</li>
                                
                                            <i class="fas fa-exclamation-circle"> {{ barber.user.barberprofile.reservation_system }}</i>
                          

                                         
                                        </ul>
                                    </div>
                                    <div class="clinic-booking">
                                        <a class="view-pro-btn" href="{% url 'barbers:barber_panel' barber.pk %}">View Profile</a>
                                        {% if barber.user.barberprofile.reservation_system %}
                                        <a class="apt-btn" href="{% url 'booking:booking_date'  barber.pk %}">Book Appointment</a>
                                        {% else %}

                                        <a class="apt-btn" style="background-color: gray; pointer-events: none; cursor: default;">Not Available</a>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}


           
                </div>

            </div>
        </div>
    </div>



</div>



{% endblock content %}