{% load static %}
<section class="cosmetics-specialist">
    <div class="container">
        <div class="section-title text-center">
            <h2>choose your Barber specialist</h2>
            <p>booking  an appontment  immediatly</p>
        </div>
        <div class="row justify-content-center">
            {% for barber in barbers %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="specialities-col">
                    <div class="card">
                        <a href="doctor-profile.html" class="specialities-img">
                            <img src="{{ barber.image.url }}" alt="" style="max-width: 500px; max-height: 500px;">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a href="doctor-profile.html">
                                    <h5>{{ barber.user.last_name }}</h5>
                                </a>
                                <p>MBBS, MDS - Cosmetics Surgeon</p>
                                {% if barber.user.barberprofile.reservation_system %}
                                <a href="{% url 'booking:booking_date'  barber.pk %}" class="booknow-btn">Book now</a>
                                {% else %}
                               
                            <a class="booknow-btn" href="{% url 'booking:booking_date'  barber.pk %}"
                                style="background-color: gray; pointer-events: none; cursor: default;">NOT AVAILABLE</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
         
           
         
        </div>
    </div>
</section>