{% load static %}


<footer class="footer">

    <div class="footer-bottom">
        <div class="container-fluid">

            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; 2022 Doccure. All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">

                        <div class="copyright-menu">
                            <ul class="policy-menu">
                            <li><a href="https://github.com/liam1550" target="_blank">created by mohammad khalili</a></li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>