<footer class="footer">

    <div class="footer-top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="assets/img/logo.png" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank"><img src="assets/img/payment1.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><img src="assets/img/payment2.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><img src="assets/img/payment3.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><img src="assets/img/payment4.jpg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Patients</h2>
                        <ul>
                            <li><a href="search.html">Search for Doctors</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="booking.html">Booking</a></li>
                            <li><a href="patient-dashboard.html">Patient Dashboard</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Doctors</h2>
                        <ul>
                            <li><a href="appointments.html">Appointments</a></li>
                            <li><a href="chat.html">Chat</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="doctor-register.html">Register</a></li>
                            <li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Sitemap</h2>
                        <ul>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="chat.html">FAQs</a></li>
                            <li><a href="payment.html">Payment</a></li>
                            <li><a href="checkout.html">Shipment</a></li>
                            <li><a href="privacy-policy.html">Return policy</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container-fluid">

            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; 2022 Doccure. All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">

                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a href="term-condition.html">Terms and Conditions</a></li>
                                <li><a href="privacy-policy.html">Policy</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>