{% load static %}
<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="{% url 'pages:home' %}" class="navbar-brand logo">
                <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a href="index-2.html" class="menu-logo">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li>
                    <a href="#" style="color: blueviolet;">{{ request.user }} {{ request.user.role }}</a>

                </li>
                <li class="has-submenu active">
                    <a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        {% if request.user.role == 'BARBERUSER' %}
                        <li><a href="{% url 'barbers:barber_panel' request.user.barberprofile.pk %}">Doctor Dashboard</a></li>
                        {% endif %}
                        <li><a href="appointments.html">Appointments</a></li>
                        <li class="active"><a href="{% url 'booking:doctor_schedule' %}">Schedule Timing</a></li>
                        <li><a href="my-patients.html">Patients List</a></li>
                        <li><a href="patient-profile.html">Patients Profile</a></li>
                        <li><a href="invoices.html">Invoices</a></li>
                        <li><a href="doctor-profile-settings.html">Profile Settings</a></li>
                        <li><a href="reviews.html">Reviews</a></li>
                        <li><a href="doctor-register.html">Doctor Register</a></li>
                    </ul>
                </li>
                                        {% if request.user.role == 'CUSTOMERUSER' %}

                <li class="has-submenu">
                    <a href="#">Patients <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="{% url 'customers:customer_panel' request.user.customerprofile.pk %}">Patient Dashboard</a></li>
                        

                    </ul>
                </li>
                                        {% endif %}

                <li class="has-submenu">
                    <a href="#">Pages <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="{% url 'pages:list_barber' %}">list all Barbers</a></li>
                        <li><a href="components.html">Components</a></li>
                        <li class="has-submenu">
                            <a href="invoices.html">Invoices</a>
                            <ul class="submenu">
                                <li><a href="invoices.html">Invoices</a></li>
                                <li><a href="invoice-view.html">Invoice View</a></li>
                            </ul>
                        </li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                </li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="forgot-password.html">Forgot Password</a></li>
            </ul>
            </li>

            <li>
                <!-- <a href="admin/index.html" target="_blank">Admin</a> -->
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </li>
            </ul>
        </div>
        <ul class="nav header-navbar-rht">

            <li class="nav-item dropdown has-arrow logged-item">
                <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle" src="{% static 'img/doctors/doctor-thumb-02.jpg' %}" width="31"
                            alt="Eric Buckles">
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="{% static 'img/doctors/doctor-thumb-02.jpg' %}" alt="User Image"
                                class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6>{{ request.user.username}}</h6>
                            <p class="text-muted mb-0">Doctor</p>
                        </div>
                    </div>


                    {% if request.user.is_authenticated %}
                    <a class="dropdown-item" href="doctor-dashboard.html">Dashboard</a>
                    <a class="dropdown-item" href="doctor-profile-settings.html">Profile Settings</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                    <a class="dropdown-item" href="{% url 'signup' %}">Register</a>
                    {% endif %}
                </div>
            </li>

        </ul>
    </nav>
</header>