{% load static %}



<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="{% url 'pages:home' %}" class="navbar-brand logo">
                <img src="{% static 'img/logo/logo2.png' %}" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a href="{% url 'pages:home' %}" class="menu-logo">
                    <img src="{% static 'img/logo/logo2.jpg' %}" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">

                <li class="has-submenu">
                    <a href="#">Barbers <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="{% url 'pages:list_barber' %}">List of all Barbers</a></li>
                    </ul>
                </li>


                {% if request.user.role == 'ADMIN' %}
                <li>
                    <a href="{% url 'admin:index' %}" target="_blank">Admin</a>
                </li>
                {% endif %}
                <li class="login-link">
                    <a href="login.html">Login / Signup</a>
                </li>
            </ul>
        </div>


        {% if request.user.is_authenticated %}
        <ul class="nav header-navbar-rht">

            <li class="nav-item dropdown has-arrow logged-item">
                <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle" src="{% static 'img/patients/patient2.jpg' %}" width="31"
                            alt="{{ request.user }}">
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="{% static 'img/patients/patient2.jpg' %}" alt="User Image"
                                class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6></h6>{{ request.user.last_name }}</h6>
                            <p class="text-muted mb-0">{{ request.user.role }}</p>
                        </div>
                    </div>
                    {% if request.user.role == 'CUSTOMERUSER' %}
                    <a class="dropdown-item"
                        href="{% url 'customers:customer_panel' %}">Dashboard</a>
                    <a class="dropdown-item" href="{% url 'customers:edit_profile' %}">Profile Settings</a>
                    {% elif request.user.role == 'ADMIN' %}
                    <a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank">Admin</a>

                    {% endif %}

                    <a class="dropdown-item" href="{% url 'accounts:user_logout' %}">Logout</a>
                </div>
            </li>

        </ul>
        {% else %}
        <ul class="nav header-navbar-rht">
            <li class="nav-item">
                <a class="nav-link header-login" href="{% url 'accounts:user_login' %}">login / Signup </a>
            </li>
        </ul>

        {% endif %}
    </nav>
</header>